%h2.text-center.mt-4.mb-4 ログイン
.container
  .card
    .card-body
      = form_with url: session_path do |f|
        = f.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address]
        %br/
        = f.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72
        %br/
        = f.submit "ログイン"
