%h2.text-center.mt-4.mb-4 KPT作成
.container
  .card
    .card-body
      = render 'kpt_items/form', kpt_item: @kpt_item

      #suggestion
        - if @try_suggestion.present?
          %p= @try_suggestion
