%h2.text-center.mt-4.mb-4 KPT
.container.mb-4
  = link_to '編集', edit_kpt_item_path(@kpt_item), class: 'btn btn-sm btn-outline-primary mb-4'
  .card
    .card-body
      %h4.card-title K
      = markdown_to_html(@kpt_item.keep)
      %h4.card-title P
      = markdown_to_html(@kpt_item.problem)
      %h4.card-title T
      = markdown_to_html(@kpt_item.try)
